$script:PortableKitConfig = @{
    WorkspacePath = 'workspace'
    PreferredEditor = 'vscode'
    PreferredTerminal = 'terminal'
    AutoOpenWorkspace = $true
    ShowAiHealthOnStart = $true
    AdditionalPaths = @(
        # 'custom\\bin'
    )
}
